USE [master]
GO
/****** Object:  Database [InfoDengueDB]    Script Date: 17/05/2025 14:48:35 ******/
CREATE DATABASE [InfoDengueDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InfoDengueDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InfoDengueDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InfoDengueDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InfoDengueDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InfoDengueDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InfoDengueDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 17/05/2025 14:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DadosEpidemiologicos]    Script Date: 17/05/2025 14:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DadosEpidemiologicos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataInicioSE] [bigint] NOT NULL,
	[SE] [int] NOT NULL,
	[CasosEst] [float] NOT NULL,
	[CasosEstMin] [int] NOT NULL,
	[CasosEstMax] [int] NOT NULL,
	[Casos] [int] NOT NULL,
	[Prt1] [float] NOT NULL,
	[Pinc100k] [float] NOT NULL,
	[LocalidadeId] [int] NOT NULL,
	[Nivel] [int] NOT NULL,
	[VersaoModelo] [nvarchar](max) NOT NULL,
	[Rt] [float] NULL,
	[Populacao] [float] NOT NULL,
	[TempMin] [float] NOT NULL,
	[UmidMax] [float] NOT NULL,
	[Receptivo] [int] NOT NULL,
	[Transmissao] [int] NOT NULL,
	[NivelInc] [int] NOT NULL,
	[UmidMed] [float] NOT NULL,
	[UmidMin] [float] NOT NULL,
	[TempMed] [float] NOT NULL,
	[TempMax] [float] NOT NULL,
	[CasosProv] [int] NOT NULL,
	[CasosProvEst] [int] NULL,
	[CasosProvEstMin] [int] NULL,
	[CasosProvEstMax] [int] NULL,
	[CasosConf] [int] NULL,
	[NotifAccumYear] [int] NOT NULL,
	[RelatorioId] [int] NOT NULL,
 CONSTRAINT [PK_DadosEpidemiologicos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relatorios]    Script Date: 17/05/2025 14:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relatorios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataSolicitacao] [datetime2](7) NOT NULL,
	[Arbovirose] [nvarchar](max) NOT NULL,
	[SemanaInicio] [int] NOT NULL,
	[SemanaFim] [int] NOT NULL,
	[CodigoIBGE] [int] NOT NULL,
	[Municipio] [nvarchar](max) NOT NULL,
	[SolicitanteId] [int] NOT NULL,
 CONSTRAINT [PK_Relatorios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitantes]    Script Date: 17/05/2025 14:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitantes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[CPF] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Solicitantes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_DadosEpidemiologicos_RelatorioId]    Script Date: 17/05/2025 14:48:35 ******/
CREATE NONCLUSTERED INDEX [IX_DadosEpidemiologicos_RelatorioId] ON [dbo].[DadosEpidemiologicos]
(
	[RelatorioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relatorios_SolicitanteId]    Script Date: 17/05/2025 14:48:35 ******/
CREATE NONCLUSTERED INDEX [IX_Relatorios_SolicitanteId] ON [dbo].[Relatorios]
(
	[SolicitanteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DadosEpidemiologicos]  WITH CHECK ADD  CONSTRAINT [FK_DadosEpidemiologicos_Relatorios_RelatorioId] FOREIGN KEY([RelatorioId])
REFERENCES [dbo].[Relatorios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DadosEpidemiologicos] CHECK CONSTRAINT [FK_DadosEpidemiologicos_Relatorios_RelatorioId]
GO
ALTER TABLE [dbo].[Relatorios]  WITH CHECK ADD  CONSTRAINT [FK_Relatorios_Solicitantes_SolicitanteId] FOREIGN KEY([SolicitanteId])
REFERENCES [dbo].[Solicitantes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Relatorios] CHECK CONSTRAINT [FK_Relatorios_Solicitantes_SolicitanteId]
GO
USE [master]
GO
